@charset "UTF-8";
@media (max-width: 1000px) {
  #hero-video {
    height: 600px; }
  #hero-video-vid {
    height: 100%;
    width: auto; }
  #hero-logo {
    height: 250px;
    margin-top: 60px; }
    #hero-logo img {
      width: 400px; }
  #hero-button {
    top: 470px; }
  #hero-news {
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    top: 0; }
    #hero-news #hero-baslik {
      font-size: 20px;
      text-align: center;
      transform: rotate(360deg);
      width: 500px;
      margin-top: 100px; }
  #hero-card, #hero-card2, #hero-card3 {
    margin-top: 20px; }
  #hero-champ {
    margin-left: 0;
    margin-top: 80px; }
  #hero-champ-title h3 {
    font-size: 14px; }
  #hero-champ-title h1 {
    font-size: 50px; }
  #hero-champ-title p {
    width: 450px; }
  #hero-champ-buttons {
    flex-direction: column;
    gap: 15px; }
  #hero-champ-buttons a {
    height: 40px;
    font-size: 12px; }
  #hero-roles {
    display: flex;
    flex-wrap: wrap; }
  #hero-roles-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    width: 500px;
    height: 50px;
    border-top: 1px solid #a1a1a1; }
  #destekUrl {
    margin-left: 0; }
  #hero-roles-img img {
    display: none; }
  #hero-tresh {
    margin-top: 10px;
    display: inline-block; }
  #hero-tresh img {
    width: 450px;
    height: 450px;
    border: none; }
  #tresh-title {
    width: 150px;
    margin-left: 350px; }
  #footer-up {
    justify-content: center;
    flex-direction: column;
    height: 146px;
    align-items: center;
    margin: 0;
    gap: 10px; }
  #up-title, #up-desc {
    margin: 0; }
  #up-logo {
    justify-content: center;
    align-items: center;
    margin-left: 100px; }
  #footer-mid {
    height: 323px;
    flex-direction: column; }
  #footer-down {
    flex-direction: column;
    height: 100%; }
  #footer-down-links svg {
    height: 35px;
    width: 35px;
    margin-top: 70px; }
  #footer-down-desc {
    width: 470px;
    line-height: 20px; }
  #footer-down-link {
    flex-direction: column; } }

.hero {
  width: 100%;
  /* &_roles{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 686px;
        background-color: rebeccapurple;
        &-img{
            display: flex;
            justify-content: space-around;
            width: 100%;
            
            & img{
                height: 22px;
                width: 22px;
            }
            &_title{
                display: flex;
                gap: 70px;
                align-items: center;
                font-size: 10px;
            }
        }
    } */ }
  .hero_video {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; }
    .hero_video-vid {
      width: 100%; }
    .hero_video-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      height: 500px;
      width: 90%;
      top: 140px;
      border: 1px solid #fff;
      z-index: 100;
      box-shadow: 0px -85px 100px 95px rgba(0, 0, 0, 0.808); }
      .hero_video-logo img {
        width: 500px;
        height: auto;
        padding: 100px;
        box-sizing: content-box; }
    .hero_video-button {
      width: 195px;
      height: 56px;
      background-color: #00B2CF;
      z-index: 101;
      position: absolute;
      top: 530px;
      text-align: center;
      padding-top: 20px;
      font-size: 0.896rem;
      font-weight: 600;
      border: 1px solid #fff;
      transition: .3s ease-in-out; }
    .hero_video-button:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: .3ms ease-in-out; }
  .hero_news {
    display: flex;
    align-items: center;
    width: 100%;
    height: 430px;
    margin-top: -60px;
    background-color: #F5F5F5;
    cursor: pointer; }
    .hero_news-baslik {
      font-size: 10px;
      transform: rotate(270deg);
      width: 162px;
      font-weight: 600;
      margin-top: 70px; }
    .hero_news-card3 {
      display: flex;
      width: 381px;
      height: 198px;
      align-items: center;
      border: 1px solid #C1C1C1;
      margin-right: 50px;
      margin-top: 100px;
      cursor: pointer; }
      .hero_news-card3:hover {
        border: 2px solid #a1a1a1; }
      .hero_news-card3::after {
        content: "TÜMÜNÜ GÖRÜNTÜLE";
        margin-top: 250px;
        font-size: 11px;
        display: inline-block;
        padding: 2px;
        font-weight: 600;
        width: 500px;
        text-align: start;
        cursor: pointer;
        border: 1px solid transparent; }
      .hero_news-card3 img {
        height: 175px;
        width: 140px;
        transition: 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; }
        .hero_news-card3 img:hover {
          transform: scale3d(1.05, 1.05, 1); }
    .hero_news-card {
      display: flex;
      width: 381px;
      height: 198px;
      align-items: center;
      border: 1px solid #C1C1C1;
      margin-right: 50px;
      margin-top: 100px; }
      .hero_news-card:hover {
        border: 2px solid #a1a1a1;
        cursor: pointer; }
      .hero_news-card img {
        height: 175px;
        width: 140px;
        transition: 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; }
        .hero_news-card img:hover {
          transform: scale3d(1.05, 1.05, 1); }
      .hero_news-card-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 162px;
        gap: 10px; }
        .hero_news-card-body h4 {
          margin-top: 20px;
          margin-left: 10px;
          font-size: 13px;
          color: #8d8e90; }
        .hero_news-card-body p {
          margin-left: 10px;
          font-size: 12px; }
  .hero_champ {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    margin-left: 450px;
    margin-top: 50px; }
    .hero_champ h1, .hero_champ h3 {
      display: block;
      text-align: center;
      font-style: italic; }
    .hero_champ h3 {
      font-size: 22px;
      letter-spacing: 5px; }
    .hero_champ h1 {
      font-size: 96px;
      margin-bottom: 20px; }
    .hero_champ p {
      font-size: 14px;
      text-align: center;
      line-height: 22px; }
    .hero_champ-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      margin-top: 20px;
      cursor: pointer; }
      .hero_champ-buttons_more {
        display: flex;
        align-items: center;
        background-color: #D0A85C;
        height: 30px;
        width: 220px;
        font-size: 10px;
        text-align: center;
        justify-content: center;
        color: #F5F5F5;
        font-weight: 600; }
      .hero_champ-buttons_play {
        display: flex;
        align-items: center;
        background-color: #0BC6E3;
        height: 30px;
        width: 220px;
        font-size: 10px;
        text-align: center;
        justify-content: center;
        color: #fefefe;
        font-weight: 600; }
  .hero_roles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    width: 100%; }
    .hero_roles-tresh img {
      width: 650px;
      height: 650px;
      border: 1px solid #a1a1a1;
      border-radius: 50%;
      display: block;
      transition: .5s ease-in-out; }
      .hero_roles-tresh img:hover {
        border: 3px dashed #CA9E4B;
        transform: scale(1.3); }
    .hero_roles-tresh_title {
      display: flex;
      flex-direction: column;
      justify-content: end;
      font-size: 12px;
      margin-left: 660px;
      margin-top: 10px;
      text-align: center;
      font-weight: 600; }
  .hero_roles-img {
    width: 638px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 30px);
    grid-gap: 15px;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-bottom: 1px solid #a1a1a1; }
    .hero_roles-img img {
      cursor: pointer;
      height: 22px;
      width: 22px;
      align-content: center;
      margin-left: 35px;
      opacity: 0.3; }
    .hero_roles-img p {
      font-size: 10px;
      font-weight: bold;
      opacity: 0.4;
      text-align: center;
      align-content: center;
      justify-content: center;
      cursor: pointer; }
  .hero .secili_img {
    opacity: 1;
    height: 40px;
    width: 40px;
    margin-bottom: 40px;
    border: 6px double #CA9E4B;
    box-sizing: content-box;
    padding: 10px;
    border-radius: 50%; }
  .hero .secili_p {
    opacity: 1;
    margin-left: 30px; }
